<mat-expansion-panel *ngFor='let section of sections; let i = index'>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <md-icon md-list-icon>donut_large</md-icon>
      {{ section.title }}
    </mat-panel-title>
    <mat-panel-description>
      {{ section.subtitle }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-section-form [section]='section' (update)='updateSection(i, $event)'></app-section-form>
  <app-notes-editor [section]='section'></app-notes-editor>
</mat-expansion-panel>

<md-list-item style='display: flex; justify-content: flex-end' class='padding-right'>
  <button md-icon-button color='primary' (click)='createNewSection()'><md-icon style='font-size: 40px'>add_circle</md-icon></button>
</md-list-item>
