<div>
  <md-form-field style='width: 400px'>
    <input mdInput placeholder='Pytanie' [(ngModel)]='tempQuiz.question'>
    <md-icon mdSuffix>mode_edit</md-icon>
  </md-form-field>
  <br>
  <label>Wyjaśnienie</label>
  <br>
  <textarea class='raw-text' style='width: 400px; height: 100px' [(ngModel)]='tempQuiz.explanation'>
  </textarea>
  <br>
  <input type='file' placeholder='tło' (change)='onFileSelect($event)' accept='image/*'>
</div>
<md-card style='max-width: 500px'>
  <img #image style='width: 100%; height: auto;' />
</md-card>

<md-card>
  <md-card-title>
    Możliwe odpowiedzi
  </md-card-title>

  <div *ngFor='let possibleAnswer of possibleAnswers; let i = index;trackBy:trackByIndex'>
    <md-form-field style='width: 70%'>
      <input mdInput placeholder='Odpowiedź' [(ngModel)]='possibleAnswers[i]'>
    </md-form-field>

    <md-checkbox [(ngModel)]='possibleAnswersFlags[i]' align='end' color='primary'>prawidłowa?</md-checkbox>
  </div>

  <div style='display: flex; justify-content: flex-end' class='padding-right'>
    <button md-icon-button color='primary' (click)='addPossibleAnswer()'><md-icon style='font-size: 40px'>add_circle</md-icon></button>
  </div>
</md-card>


<div class='align-content-to-right'>
  <button md-raised-button color='primary' (click)='saveQuiz()'>Zapisz zmiany</button>
</div>