<mat-expansion-panel #panel>
  <mat-expansion-panel-header>
    Edytuj sekcję
  </mat-expansion-panel-header>

  <md-card *ngIf='tempSection'>
    <md-card-title>
      Edytuj sekcję - {{ tempSection.title }}
    </md-card-title>

    <md-card-content>
      <md-form-field style='width: 100%'>
        <input mdInput placeholder='Tytuł' [(ngModel)]='tempSection.title'>
        <md-icon mdSuffix>mode_edit</md-icon>
      </md-form-field>
      <br>
      <md-form-field style='width: 100%'>
        <input mdInput placeholder='Podtytuł' [(ngModel)]='tempSection.subtitle'>
        <md-icon mdSuffix>mode_edit</md-icon>
      </md-form-field>
      <br>
      <input type='file' placeholder='tło' (change)='onFileSelect($event)' accept='image/*'>
      <br>
      <md-card>
        <img #image style='width: 100%; height: auto;' />
      </md-card>
    </md-card-content>

    <md-card-actions class='align-content-to-right'>
      <button md-raised-button [disabled]='!hasBeenEdited' color='primary' (click)='saveSectionEditChanges()'>Zapisz zmiany</button>
    </md-card-actions>
  </md-card>
</mat-expansion-panel>